<!doctype html>
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../stylesheets/index_style.css")
    body
        div#content
            div#title
                h2 Youtube Trends
            br
            div#search_bar
                input(type="text" id="search" name="search_engine" placeholder="Enter Keyword Here" required)
        
        p#footer
            span @ Made by Widjaja Edward Aryaguna
        script(src="../javascripts/index.js")
    
