<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../stylesheets/search_style.css">
    </head>
    <body>
        <div id="search_bar">
            <h2>Better Google Trends</h2>
            <input type="text" id="search" name="search_engine" placeholder="Enter Keyword Here" required>
        </div>
        <div id="compare_tab">
            <div id="current_keyword">Replace with Keyword</div>
            <div>Add Keyword</div>
        </div>
        <div id="content">
            <div id="statistics"></div>
            <div id="graph"></div>
        </div>
        <script src="../javascripts/search.js"></script>
    </body>
</html>